@import "tailwindcss";

@theme {
  --color-brand-50: #f0f7ff;
  --color-brand-100: #e0effe;
  --color-brand-200: #bae2fd;
  --color-brand-300: #7ccbfd;
  --color-brand-400: #38b0f8;
  --color-brand-500: #0ea0ea;
  --color-brand-600: #0280c7;
  --color-brand-700: #0366a1;
  --color-brand-800: #075685;
  --color-brand-900: #0c486e;
  --color-brand-950: #082f49;
}
